@font-face {
    font-family: 'Varela';
    src: url('/fonts/VarelaRound/VarelaRound-Regular.ttf');
}

:root {
    /* --khaki-web: #b7ad99; */
    --green: #226f2c;
    --orange: #ffa34c;
    --red-translucent: #b72a448c;
    --radical-red: #ff4365;
    --radical-red-dim: #ce244f;
    --black: #030301;
    --dark-blue: #1c1e29;
    --mid-blue: #1e2236;
    --light-blue: #242d5b;
    --turquoise-dim: #0c8f80;
    --turquoise-bright: #00ffe1;
    --turquoise-bright-translucent: #00ffe1a0;
    --turquoise: #00d9c0;
    --ivory: #fffff3;
}

body {
    margin: 0;
    text-align: center;
    background-color: var(--dark-blue);
}

a {
    color: var(--radical-red);
}

:root,
input,
textarea,
button,
option,
select {
    font-family: 'Varela';
    font-size: 13px;
    color: white;
    background-color: inherit;
}

input {
    outline: 0;
    border: 0;
    border-bottom: 2px solid lightskyblue;
    transition: all 200ms ease-in-out;
}

input:focus,
input:hover {
    border-bottom: 2px solid blue;
}

button {
    /* border: 1.5px solid lightblue; */
    color: var(--ivory);
    border: 1.5px solid var(--radical-red-dim);
    border-radius: 3px;
    padding: 0.25em 1em;
    background: none;
    transition: all 100ms ease-in-out;
}

button:hover {
    cursor: pointer;
    border-color: var(--radical-red);
    background: var(--red-translucent);
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 14px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}